/* variables ------------------ */
:root {
    --yellow: gold;
    --green: green;
    --red: #ff6347;
    --black: #000000;
    --white: #fff;
    --light-grey: #cbdce1;
    --dark-grey: #557077;
    --primary: var(--red);
    --secondary: var(--white);
    --success: var(--green);
    --warning: var(--yellow);
    --danger: var(--red);
    --dark: var(--black);
    --breakpoint-xl: 1440px;
    --spacing: 1rem;
}

/* overwrite browser style -------------------- */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--primary);
    color: var(--white);
}
::-webkit-scrollbar {
    background-color: #e4e4e4;
    border-radius: 100px;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    color: var(--dark-grey);
    width: fit-content;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
label {
    cursor: pointer;
}

body > * {
    width: 300px;
}

/* custom style ---------------------- */
.container {
    margin: auto;
    padding: 0 2em;
    max-width: var(--breakpoint-xl);
}

.hidden {
    display: none;
}

.btn {
    background-color: var(--white);
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid;
}
.btn:disabled {
    pointer-events: none;
    filter: grayscale(0.2);
}
.btn--block {
    width: 100%;
}
.btn:hover {
    font-weight: bold;
}
.btn--primary {
    background: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
}
.btn--primary:hover {
    color: var(--primary);
    background-color: var(--white);
}

/* header  */
header {
    background-color: var(--primary);
    color: var(--white);
    padding: var(--spacing);
}
header nav a {
    display: block;
    height: auto;
    width: 100%;
}
header nav img {
    height: auto;
    width: 100%;
}

/* main  */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
    text-transform: uppercase;
    font-weight: bolder;
    padding: var(--spacing);
}
section {
    width: 200px;
}
.preview {
    display: flex;
    gap: 15px;
    height: 40px;
}
.color {
    border: 1px solid tomato;
    height: 100%;
    width: 20px;
}
.value {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

/* footer  */
footer {
    display: flex;
    justify-content: space-between;
    background: var(--light-grey);
    font-size: 0.9em;
    padding: var(--spacing);
}
footer a {
    color: var(--dark-grey);
    text-decoration: none;
}

footer .language_toggler {
    cursor: pointer;
}
footer .language_toggler.active {
    text-decoration: underline;
}
